/* -------------------------- BASE -------------------------- */
*{margin: 0; padding: 0; box-sizing: border-box;}

html { 
    font-family: 'Outfit','Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 62.5%;
    background-color: #f0e4e3;
    /* background-color: #df6358; */
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    margin-top: .5rem;
    margin-left: 2rem;

    font-size: 1.6rem;
}

h2 {
    margin-bottom: -1.5rem;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}

h4{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

li {
    margin-left: 2rem;
}

.container_HeadBody{
    display: flex;
    gap: 1rem;
}


.figureItem {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-auto-rows: auto;
    
    gap: 1rem;
}

.item {
    display: block;
    opacity: .5;
    width: 80px;
    height: 80px;
    border: 4px solid #3d2d2a;
    border-radius: 10px;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
}

.item img {
    width: 72px;
    border-radius: 6px;
    position: absolute;
    /* left: -2px;
    top: -2px; */
    z-index: -1;
}

.colorPalette{
    margin: .8rem;
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-auto-rows: auto;
    
    gap: .2rem;
}
.color {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #b7baca;
    border: 4px solid #24273f;
    border-radius: 5px;
}


.jenaroSVG {
    transform: scale(1.5);
    margin: 6rem;
    position: relative;
}

.ancla{
    width: 260px;
    height: 330px;
    background-color: rgba(126, 141, 151, 0);
    border: 2px solid #24273f;
    margin-top: -.5rem;
    display: block;
    position: relative;
}

.bodyBase .svg {
    color: #959d63;
    top: 0px;
    left: 30px;
    position: absolute;
}
.headShape .svg {
    color: #f9ece2;
    top: 0px;
    left: 30px;
    position: absolute;
}
#headShapeB {
    color: #4d4546;
}
.fringe .svg {
    color: #f77f37;
    top: 0px;
    left: 37px;
    position: absolute;
}
#fringeB {
    color: #de402b;
    top: 84px;
    left: 29.8px;
    position: absolute;
}
.eye .svg {
    color: #0f0000;
    top: 30px;
    left: 97px;
    position: absolute;
    z-index: 1;
}
#eyeB {
    color: #0f0000;
    top: 34px;
    left: 99px;
    position: absolute;
    z-index: 1;
}
.beak .svg {
    color: #f4a570;
    top: 39px;
    left: 40px;
    position: absolute;
}
.tummy .svg {
    color: #f7bc38;
    top: 0px;
    left: 29.5px;
    position: absolute;
}
div[data-id="none"] .paintBtn {
    display: none;
}
.none .svg {
    color: transparent;
    top: 0px;
    left: 0px;
    position: absolute;
}

.wings .svg {
    color: #787f4d;
    top: 118px;
    left: 30.8px;
    position: absolute;
}
.tail .svg {
    color: #4b7465;
    top: 218px;
    left: 178px;
    position: absolute;
}
.feet .svg {
    color: #c98f98;
    top: 254px;
    left: 67px;
    position: absolute;
}
.doNotTouch #eyeBorder {
    color: #fffefe;
    top: 24px;
    left: 91.5px;
    position: absolute;
}
.doNotTouch #nose {
    color: #fffefe;
    top: 32.2px;
    left: 42px;
    position: absolute;
}

/* ------------------------- OTHER -------------------------- */



.isSelected {
    opacity: 1;
    border: 4px solid #3d2d2a;
}

.paintBtn {
    display: block;
    width: 34px;
    height: 34px;
    border: none;
    background-color: #3d2d2a;
    border-radius: 0 1.5rem 0 1rem;
    position: absolute;
    top: 40px;
    left: -2px;
    box-shadow: 2px -2px 10px 0px #f0e4e327;
    cursor: cell;
}

.paintBtn::after {
    content: "\e997" / "Change color";
    font-family: 'Material Symbols Outlined';
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .paintBtn:hover,
.paintBtn::after:hover {
    background-color: brown;
} */
/* nofufa */

.hidden {
    display: none;
}

.semiHidden {
    opacity: .3;
}